@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span class="label">Main:</span>
        <span>(+40)728200034</span>
    </p>
    
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Support:</span>
        <span><a href="mailto:ignatandrei@yahoo.com">ignatandrei@yahoo.com</a></span>
    </p>
   
    
</section>

<section class="contact">
    <header>
        <h3>URL</h3>
    </header>
    <p>
        http://msprogrammer.serviciipeweb.ro/
    </p>
</section>